/* 
  1.google fonts : font-family: "Lato", sans-serif;
  2.Flat UI colors:https://flatuicolors.com/palette/defo
  3.0to255: http://www.0to255.com/

*/

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  color: #555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}
/* DESKTOP - FIRST   APPROACH*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* Designing the HEADER SECTION */

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./../images/hero.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-text-box {
  max-width: 1140px;
}
header .header-text-box h1 {
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: #fff;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  text-decoration: none;
  color: #fff;
  transition: background 0.3s ease-in;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  margin: 2rem 0;
}

.btn-full:link,
.btn-full:visited {
  background: #e67e22;
  border: 1px solid #e67e22;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
  background: #d35400;
  border: 1px solid #d35400;
}

.btn-ghost:hover,
.btn-ghost:active {
  background: #d35400;
  color: #fff;
}
